@import 'config';

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
    color:#333;
    background-color:#fff;
    transition: all 0.3s ease-in-out;
}

h2 {
    font-weight: 700; 
}

nav.navbar.navbar-default {
    padding: 15px 0;
    background: none;
    border-bottom: none;
    transition: all 0.3s ease-in-out;

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
    }
    .navbar-header {
        width: 100%;
        display: block;
    }
    .navbar-toggle {
        float: right;
        border: none;
        background-color: transparent;
        margin: 18px 0 0;
    }
    .logo {
        width: 130px;
    }
}
nav.navbar.navbar-default.sticky-header {
    background:rgba(255,255,255,0.8);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar.navbar-fixed-top {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index:9;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
    ul.nav > li > a {
        color:#fff !important;
        font-size: 16px !important;
        text-transform: none !important;
        font-family: 'Poppins', sans-serif;
        font-weight: 400 !important;
        letter-spacing: 0.04em;
        &:hover {
            text-decoration: none;
        }
    }
}
nav.bootsnav.navbar-full .navbar-collapse .wrap-full-menu {
    background: $secondary-color;
}

.banner {
    position: relative;
    top: 0;
    left:0;
    width:100%;
    background: #fff;
    padding: 160px 0 100px;
    &:before {
        content: '';
        display: block;
        width: 1000px;
        height: 1000px;
        position: absolute;
        bottom: 0;
        left: -200px;
        background:#f2f6f9;
        border-radius: 50%;
    }
}
.header-content {
    padding-top: 50px;
    h2 {
        font-size: 76px;
        font-weight: 700;
        color: $primary-color;
        text-shadow: 3px 3px 0 $secondary-color;
        margin-bottom: 0.5em;
    }
    p {
        font-size:14px;
        color: $primary-color;
        line-height: 1.8em;
        border-left: 1px solid $primary-color;
        padding-left: 30px;
    }
    .btn-buynow {
        margin-top: 30px;
    }
}

.btn-buynow {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 30px 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.22em;
    background: $primary-color;
    box-shadow : 5px 5px $secondary-color;
    transition: all 0.3s;
    &:hover {
        color:#fff;
        background: #323858;
        text-decoration: none;
    }
}

.services {
    padding: 80px 0;
    .section-title {
        text-align:left;
    }
    .section-title{
        &:before{
            left:90px;
        }
    }
}

.section-title {
    text-align:center;
    position:relative;
    margin-bottom: 60px;
    &:before {
        content:'';
        display: block;
        width:1px;
        height:70px;
        background: $primary-color;
        position: absolute;
        top: -80px;
        left: 50%;
    }
    p {
        text-transform: uppercase;
        color: $secondary-color;
        letter-spacing: 0.18em;
        margin-bottom: 10px;
    }
    h2 {
        font-size:30px;
        color: $primary-color;
        line-height: 1.4em;
    }
}

.service-single {
    .icon-box {
        font-size: 80px;
        color: $primary-color;
        text-shadow: 2px 2px 0 $secondary-color;
        margin-bottom:10px;
    }
    h3 {
        font-size:22px;
        color: $primary-color;
        font-weight:600;
        margin-bottom: 20px;
    }
    p {
        font-size:14px;
        color : #979797;
        line-height: 1.8em;
        margin-bottom:10px;
    }
}

.features {
    padding: 80px 0;
    background: #f2f6f9;
}
.nav-sidebar {
    width:100%;
    text-align: center;
    .nav-item {
        a.active {
            img {
                border: 2px solid $secondary-color;
                box-shadow: none;
            }
        }
    }
    .nav-tabs {
        border-bottom: none;
    }
    .navtabs > li {
        a {
            border:none;
        }
        .nav-link.active {
            border:none;
        }
    }
    a {
        &:hover{
            border:1px solid transparent;
        }
        img {
            background:#fff; 
            border-radius: 50%;
            border:2px solid #fff;
            box-shadow: 0px 0px 30.72px 1.28px rgba(0, 0, 0, 0.13);
            transition: all 0.3s ease-in-out;
        }
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border:none;
    background-color:transparent;
}

.bag-feature {
    p {
    padding:4px 0;
    color: $primary-color;
    margin: 26% 0;
    }
} 
.bag-feature-right {
    p {
        text-align: right;
        padding-right: 50px;
        background: url(../img/bag-feature.png) no-repeat right center;
        &:nth-of-type(2) {
            margin-right: 30px;
        }
    }
}
.bag-feature-left {
    p {
        text-align: left;
        padding-left: 50px;
        background: url(../img/bag-feature.png) no-repeat left center;
        &:nth-of-type(2) {
            margin-left: 30px;
        }
    }
}
.bag-feature-image {
    padding-top:10px;
}

.product-single {
    position: relative;
    figure {
        display:inline-block;
        margin: 0 0 0;
    }
    h3 {
        position: absolute;
        bottom:20px;
        padding:14px 20px;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        background: $primary-color;
        max-width: 60%;
    }
    a {
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
}
.product-left {
    text-align:right;
    margin-bottom:30px;
    h3 {
        left:0;
    }
}
.product-right {
    text-align:left;
    margin-top:30px;
    h3 {
        right: 0; 
    }
}

.products {
    padding: 80px 0;
}

.testimonials {
    background-image:url('../img/abstract-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 69.6975px;
    padding:80px 0;
}

.testimonial-pagination {
    text-align:center;
    margin-top:15px;
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background:#fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #01d3a2;
    }
}

.testimonial-single {
    p {
        color:#fff;
        font-size: 30px;
        font-weight: 700;
    }
    h3 {
        color: $secondary-color;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.04em;
        margin-top: 2em;
        text-transform: uppercase;
    }
}

.trending-item {
    padding: 80px 0;
    .section-title {
        text-align:left;
        margin-bottom: 40px;
        &:before {
            left:90px;
        }
    }
}

.trending-item-info {
    p {
    color:#979797;
    font-size: 14px;
    line-height: 1.8em;
    margin-bottom: 1.8em;
    }
    .btn-buynow {
        margin-top:20px;
    }
}

.process-video {
    padding: 80px 0 14%;
    background: $secondary-color url(../img/footer-bg.png) no-repeat bottom center;
    background-size: 100% auto;
}

.process-video-btn {
    img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }
    p {
        display: inline-block;
        vertical-align: middle;
        color:#fff;
        font-size: 20px;
        margin-bottom: 0;
        span {
            display:block;
            font-size:16px;
        }
    }
}

.process-video-entry {
    padding-top: 10px;
    h3 {
        font-size:30px;
        color: $primary-color;
        font-weight: 700;
    }
    p {
        font-size:30px;
        color:#fff;
        font-weight: 700;
    }
}

.contact {
    background: $primary-color;
    padding: 80px 0;
    .section-title {
        h2 {
            color:#fff;
        }
        &:before {
            background: #fff;
        }
    }
}
.contact-form {
    .form-control {
        background: none;
        border-radius: 0;
        box-shadow: none;
        font-size: 16px;
        color: #fff;
        height: auto;
        padding: 10px 0;
        border:none;
        border-bottom:1px solid #fff;
        resize: none;
    }
    .btn-contact {
        border: 1px solid#1cd9b9;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        padding: 14px 40px 12px;
        text-align: center;
        color:#fff;
        text-transform: uppercase;
        letter-spacing: 0.22em;
        background: $primary-color;
        box-shadow: 5px 5px $secondary-color;
        margin-top: 30px;
        transition: all 0.3s;
        &:hover, &:focus {
            outline: 0;
            background: $secondary-color;
            box-shadow: 5px 5px #fff;
        }
    }
}

footer {
    background: $primary-color;
    padding : 80px 0;
}
.site-info p {
    color:#acadb1;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.5em;
}
.footer-info {
    h2 {
        color: $secondary-color;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    p {
        color: #acadb1;
        font-size:14px;
        margin-bottom: 0;
        line-height: 1.5em;
    }
}

.footer-social {
    h2 {
        color: $secondary-color;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    a {
        display: inline-block;
        margin-right: 10px;
        color: #acadb1;
        &:hover {
            color: $secondary-color;
        }
    }
}